global
    log stdout format raw local0
    maxconn 8192
    nbthread 2

defaults
    log     global
    mode    http
    option  dontlog-normal
    option  http-keep-alive
    option  abortonclose
    option  redispatch
    retries 2
    timeout connect 200ms
    timeout client  1m
    timeout server  1m
    timeout queue   500ms

frontend http_front
    bind *:9999
    default_backend api_back

backend api_back
    mode http
    balance leastconn
    option httpchk GET /ready
    http-check expect status 200

    server api1 api1:80 check inter 2000 rise 2 fall 3 maxconn 512
    server api2 api2:80 check inter 2000 rise 2 fall 3 maxconn 512
